*:not(#iframe) {
  padding: 2px 2px;
}

body {
  border: 2px solid red;
  width: 95%;
  margin: auto;
}
header {
  border: 1px solid green;
}

main {
  border: 1px solid black;
  height: 500px;
  max-height: 60%;
  
  display: grid;
  grid-template-columns: 65% 35%;
  
}

#left-side {
  border: 1px solid green;
  margin-right: 5px;
}

#right-side {
  border: 1px solid blue;
  overflow-y: scroll;
}
.figures {
  margin: 0px;
  display: grid;
  grid-template-columns: 50% 50%;

}
.figures img {
  border-radius: 10px;
  width: 100%;
  min-height: 100px;
  max-height: 120px;
}
.figures article {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: grey;
  line-height: 1.2em;
}
.figures article:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
  color: black;
  line-height: 1.5em;

}


footer {
  border: 1px solid orange;
  
}