* {
  padding: 5px 2px;
}

body {
  border: 2px solid red;
  width: 95%;
  margin: auto;
}
header {
  border: 1px solid green;
}

main {
  border: 1px solid black;
  height: 60%;
  
  display: grid;
  grid-template-columns: 70% 30%;
  
}

#left-side {
  border: 1px solid green;
  margin-right: 5px;
}
#right-side {
  border: 1px solid blue;  
}

footer {
  border: 1px solid orange;
  
}